## The dataset

This is a real dataset and it was downloaded using web scraping techniques. The data contains registers from fotocasa which is one of the most popular websites of real estate in Spain. Please, do not do this (web scraping) unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro and In no case were economic returns obtained from it.

It contains thousands of data from real homes published on the web www.fotocasa.com. Your goal is to extract as much information as possible with the knowledge you have so far about data science, for example what is the most expensive home in the entire dataset?

Let's start with precisely that question... Good luck!

#### Read the dataset assets/real_estate.csv and try to visualize the table (★☆☆)

In [2]:
import pandas as pd
# this CSV file contains semicolons instead of comas as separator
ds = pd.read_csv('assets/real_estate.csv', sep=';')
ds

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

#### What is the most expensive home in the dataset? (★☆☆)

In [7]:
#Ordeno los precios
columna_precio = 'price'
df_ordenado = ds.sort_values(by=columna_precio, ascending=False)

#Y muestro el primero
df_ordenado.head(1)

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
13110,13111,132042636,False,engel volkers torrelodones,911798512.0,https://www.fotocasa.es/es/comprar/vivienda/vi...,19.0,NaN,NaN,8500000,...,0,0,0,0,0,0,"40,5830801751782","-4,12951942848611",NaN,NaN

#### What is cheapest home in the dataset? (★☆☆)

In [9]:
#Ordeno los precios
columna_precio = 'price'
df_ordenado = ds.sort_values(by=columna_precio, ascending=False)

#Y muestro el ultimo
df_ordenado.tail(100)

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
6568,6569,151582269,False,haya real estate,911227078.0,https://www.fotocasa.es/vivienda/villalbilla/l...,1.0,1.0,42.0,46900,...,0,0,0,0,0,0,"40,20527478","-3,58159811",NaN,NaN
12599,12600,153414382,False,outletdeviviendas,912172269.0,https://www.fotocasa.es/es/comprar/vivienda/or...,2.0,1.0,95.0,46700,...,0,0,0,0,0,0,"40,510597","-4,300178",NaN,NaN
14947,14948,152770971,False,garsierra,912179623.0,https://www.fotocasa.es/es/comprar/vivienda/ca...,2.0,2.0,95.0,46700,...,0,0,0,0,0,1,"40,5126","-4,30009",NaN,NaN
13916,13917,150927614,False,servihabitat servicios inmobiliarios,932934684.0,https://www.fotocasa.es/es/comprar/vivienda/ca...,2.0,1.0,95.0,46700,...,0,0,0,0,0,0,"40,510606","-4,300162",NaN,NaN
14030,14031,153922371,False,garsierra,912179623.0,https://www.fotocasa.es/es/comprar/vivienda/ti...,2.0,2.0,95.0,46700,...,0,0,0,0,0,1,"40,5126","-4,30009",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8962,8963,153122164,False,msm gestion inmobiliaria,912785063.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,4.0,427.0,0,...,0,0,0,0,0,1,"40,59462","-4,04261",NaN,NaN
5446,5447,153153518,False,promotasa,914894395.0,https://www.fotocasa.es/es/comprar/vivienda/cu...,2.0,2.0,97.0,0,...,0,0,0,0,0,0,"40,443236","-3,592392",NaN,NaN
5648,5649,153585814,False,lideco asesores,912788076.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,115.0,0,...,0,0,0,0,0,0,"40,45641952","-3,47215351",NaN,NaN
4019,4020,149638965,False,viviendas para ti,918003243.0,https://www.fotocasa.es/es/comprar/vivienda/ar...,3.0,2.0,141.0,0,...,0,0,0,0,0,1,"40,30754","-3,72869",NaN,NaN
10297,10298,153586831,False,asentis,914890774.0,https://www.fotocasa.es/es/comprar/vivienda/fu...,3.0,2.0,143.0,0,...,0,0,0,0,0,0,"40,33984","-3,67902",NaN,NaN

#### What is the biggest and the smallest home in the dataset? (★☆☆)

#### How many populations (level5) the dataset contains? (★☆☆)

#### Does the dataset contain NAs? (★☆☆)

#### Delete the NAs of the dataset, if applicable (★★☆)

#### What is the mean of prices in the population (level5) of "Arroyomolinos (Madrid)"? (★★☆)

#### Plot the histogram of prices for the population (level5) of "Arroyomolinos (Madrid)" and explain what you observe (★★☆)

#### Now let's work with the "south belt" of madrid. Make a subsetting that contains the following populations (level5): "Fuenlabrada","Leganés","Getafe","Alcorcón" (★★☆)

#### Make a bar plot of the median of prices (★★★)

#### Calculate the sample mean and variance of the variables: price, rooms, surface area and bathrooms (★★★)

#### What is the most expensive home of each population? (★★☆)

#### Normalize the variable of prices for each population and plot the 4 histograms in the same plot (★★★)

#### Make a plot of the coordinates (lat and long) of the south belt of Madrid by color of each population (★★★★) 
This is a extremely hard exercise and we highly recommend to do it at the end of everything

In [ ]:
# Run in console the following command before run the rest of code:
# jupyter nbextension enable --py --sys-prefix ipyleaflet

from ipyleaflet import Map, basemaps

# Map centred on (60 degrees latitude et -2.2 degrees longitude)
# Latitude, longitude
map = Map(center = (60, -2.2), zoom = 2, min_zoom = 1, max_zoom = 20, 
    basemap=basemaps.Stamen.Terrain)
map

In [ ]:
## HERE: plot the coordinates of the estates

## PUT HERE YOUR CODE:

#### What can you say about the price per square meter between the towns of Getafe and Alcorcón?

#### Reload the data, is the average of "Valdemorillo" and "Galapagar" prices the same?

#### What happens if we do the same analysis for price/m2 (★★☆)

#### Could you say there is a relation between surface and price? (★★☆) 
Hint: make a scatter plot.

#### Make the same plot for 4 different populations (level5) and rearrange them on the same graph? (★★☆) 
Hint: make a scatter plot of each population using subplots.

#### How many  real estate agencies the dataset contains? (★★☆)

#### What is the population (level 5) that contains the most houses? (★★☆)